body {
    background-color: grey;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    border: solid 5px;
    border-radius: 10px;
    width: 75%;
    flex-wrap: wrap;
    background-color: beige;
}

#description {
    margin: 20px 20px;
    font-family: 'Courier New', Courier, monospace;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

button {
    border: none; 
    color: black;
    font-weight: bolder;
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 10px; 
    display: inline-flex;
    background-color: #c1c4bc;
    margin-bottom: 10px;
}

img {
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}